.w3-feature{
    background-color:#005c27 !important;
    color: white;
}

.w3-hover-feature:hover {
    color: #fff!important;
    background-color: #005c27!important;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
    margin: 40px 0px;
    text-align: center;
    overflow: scroll-y;
    
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.bottom-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    flex: 1; /* Makes each link flexibly occupy equal space */
    text-align: center; /* Centers the text in each link */
}

.top-nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.top-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    flex: 1; /* Makes each link flexibly occupy equal space */
    text-align: center; /* Centers the text in each link */
}

.scroll-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-card {
    display: inline-block;
    margin-right: 10px; /* Spacing between cards */
    width: 150px; /* Fixed width for each card */
    padding: 0px;
    overflow: hidden;
    position: relative;
    animation: animateright 0.4s;
}

.scroll-image {
    width: 100%;
    height: auto;
}

.scroll-content {
    padding: 0px;
}

.quran-text {
    font-family: 'Amiri Quran', serif;
}