

.header10 {
    font-size: 4px;
    font-weight: bold;
    text-align: left;
}

.header9 {
    font-size: 8px;
    font-weight: bold;
    text-align: left;
}

.header8 {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}


.header7 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.header6 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.header5 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.header4 {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}

.header3 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}

.header2 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.header1 {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.para1{
    font-size: 18px;
    text-align: left;
}